doctype html
html
  head
    title Stock Price App

    link(rel='stylesheet', href='dist/css/main.min.css', type='text/css')

    script(src='dist/js/dependencies.min.js')
    script(src='dist/js/app.min.js')

  body
    div(class="panel panel-default")
        div.panel-body

            h1 Stock Price App

            div.btn-group
                a(href="#new" class="btn btn-default") new
                a(href="" class="btn btn-default") list

            .wrapper

                ul.stocks

                div.new-stock
                    form(action='stocks',method='post')
                        label(for='companyName') Company Name
                        input(name='companyName' id='companyName')
                        label(for='symbol') Symbol
                        input(name='symbol' id='symbol')
                        label(for='targetPrice') Target Price
                        input(name='targetPrice' id='targetPrice')
                        button(type='submit')
                            'submit'

                script#stockTemplate(type='text/template')
                  div
